<ul class="space-y-2 mb-2">
  <li class="border-l-4 pl-3 border-blue-500 bg-white shadow-sm p-2 rounded">
    <span class="font-semibold">
      Change: <%= inventory_unit.quantity %> units
    </span>
    <p class="text-sm text-gray-700"><%= inventory_unit.comment %></p>
  </li>
</ul>
