<% content_for :title do %>Update Ingredient<% end %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">Update Ingredient</h1>

  <%= render partial: "form", locals: { ingredient: @ingredient, submit_url: admin_ingredient_url(@ingredient) } %>

  <p class="mt-6 text-center">
    <%= link_to t(".back_to_ingredients"), admin_ingredients_path, class: "inline-block bg-blue-600 text-white w-full py-2 rounded-md font-medium hover:bg-blue-700 transition" %>
  </p>
</div>
