<h1>Thank you for your order, <%= @order.user.name %>!</h1>

<p>Your order has been successfully placed. Here are the details:</p>

<table>
  <thead>
    <tr>
      <th>Image </th>
      <th>Meal</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'line_item', collection: @line_items %>
  </tbody>
</table>

<p>Total: <%= number_to_currency(@order.total_amount) %></p>
