<% content_for :title do %>New Meal<% end %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">Add a new Meal</h1>

  <%= render partial: "form", locals: { meal: @meal } %>

  <p class="mt-6 text-center">
    <%= link_to t(".back_to_meals"), admin_meals_path, class: "inline-block bg-blue-600 text-white w-full py-2 rounded-md font-medium hover:bg-blue-700 transition" %>
  </p>
</div>
